---
const { children } = Astro.props;
---

<section class="w-full flex justify-center">
  <div class="w-[760px] max-w-[760px] px-5 lg:px-0">
    <div class="w-full">
      <!-- {children} -->
      <slot />
    </div>
  </div>
</section>
