---
export interface Props {
  url: string;
  icon: string;
  title?: string;
}

const { url, icon, title } = Astro.props as Props;
---

<a href={url} target="_blank" rel="noopener noreferrer" aria-label={title}>
  <img
    src={title !== "LinkedIn"
      ? `https://cdn.simpleicons.org/${icon}/white`
      : icon}
    alt={title ?? ""}
    class="w-5"
  />
</a>
