---
import Layout from "../Layouts/Layout.astro";

import BlogNavbar from "../components/BlogNavbar.astro";
import PageLayout from "../components/Layouts/PageLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../posts/*.md");

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
  <PageLayout>
    <section>
      <BlogNavbar />
      <div class="lg:px-5 md:h-[70vh]">
        <div class="container my-10 lg:mt-20 lg:mb-10">
          <a href="/blog">
            <p class="blue-text">{"< Back"}</p>
          </a>
          <div>
            <div class="my-5">
              <h2 class="text-3xl md:text-4xl text-gray-300 font-[600] mb-3">
                {frontmatter.title}
              </h2>
              <h2 class="text-gray-500 text-lg">{frontmatter.date}</h2>
            </div>
            <div class="text-gray-500 text-lg">
              <Content />
            </div>
          </div>
        </div>
      </div>
    </section>
  </PageLayout>
</Layout>

<style>
  body {
    background-color: #121212;
  }
  .blue-text {
    color: #1f75fe;
  }
</style>
