---
import Layout from "../Layouts/Layout.astro";
import "../styles/blog.module.css";

import BlogNavbar from "../components/BlogNavbar.astro";
import PageLayout from "../components/Layouts/PageLayout.astro";

const posts = await Astro.glob("../posts/*.md");
---

<Layout title="Blog">
  <PageLayout>
    <section>
      <BlogNavbar />
      <div
        class="flex justify-center items-start my-10 lg:my-20 md:min-h-[55vh]"
      >
        <div class="container text-gray-400 lg:px-5 pb-7">
          <div class="mb-7">
            <h2 class="text-gray-200 text-2xl md:text-3xl font-[600]">Blog</h2>
            <p class="text-gray-400 my-2 text-lg">
              This is a <span class="text-brand-100">portal</span> into my thoughts,
              ideas, experiences, visions, interests and more. I also intend to document/share
              my experience learning new Technologies and building Software.
            </p>
          </div>

          {
            posts.map((post, index) => (
              <div class="flex gap-5">
                <div class="flex w-[10%] flex-col justify-center items-center">
                  <h2 class="text-center text-gray-200 text-2xl md:text-3xl font-[600]">
                    {post?.frontmatter.date?.split(" ")?.[0]?.trim()}
                  </h2>
                  <p>{post?.frontmatter?.date?.split(" ")?.[1]?.trim()} </p>
                  <p class="text-sm">
                    {post?.frontmatter?.date?.split(" ")?.[2]?.trim()}
                  </p>
                </div>
                <div class="w-[90%] border-l-2 px-5 relative border-[#1f75fe]">
                  <div class="absolute top-0 -left-[7px] w-3 aspect-square bg-[#1f75fe] rounded-full" />
                  <a href={`/${post.frontmatter.slug}`}>
                    <h2 class="text-gray-200 text-2xl md:text-3xl font-[600]">
                      {post.frontmatter.title}
                    </h2>
                  </a>
                  <p class="my-3">{post.frontmatter.description}</p>

                  {index === posts?.length - 1 && (
                    <div class="absolute bottom-0 -left-1.5 w-3 aspect-square bg-[#1f75fe] rounded-full" />
                  )}
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </PageLayout>
</Layout>
