---
import PageLayout from "./Layouts/PageLayout.astro";
---

<PageLayout>
  <section class="w-full" id="about">
    <div class="w-full">
      <hr class="border-gray-600" />
      <div class="flex flex-col w-full items-center">
        <div class="py-10 w-full flex flex-col items-center">
          <p
            class="text-gray-400 leading-[30px] monserrat tracking-wider lg:text-center xl:text-start"
          >
            Passionate Fullstack Engineer | Specializing in <span
              class="blue-text">High-Performance</span
            >
            Frontend Experiences. As a fullstack software engineer with a frontend
            focus, I build fast, scalable, and engaging web applications using modern
            technologies like React, Next.js, Vue, Nuxt, Astro, and TypeScript. I’m
            driven by a passion for <span class="blue-text">clean design</span> and
            seamless user experiences — transforming complex ideas into intuitive
            and visually striking interfaces that not only look great but perform
            exceptionally. Whether you're launching a product, scaling a platform,
            or refining your UI/UX, I bring a blend of technical expertise and creative
            problem-solving to help you build something exceptional.
          </p>
        </div>
      </div>
    </div>
  </section>
</PageLayout>
