---
// import mockup from "../public/images/hero-illustration.png";
---

<section class="w-full">
  <div class="flex w-full h-[calc(100vh-56px)]">
    <div class="w-[50%] flex justify-center items-center">
      <div class="leading-[1]">
        <span class="text-[4rem] text-gray-500 font-mono">Hi, I'm</span>
        <!-- <span class="text-[7rem] text-gray-200">I'm</span> -->
        <h2 class="text-[#1f75fe] text-[8rem] font-mono">Chinedum</h2>
      </div>
    </div>

    <div class="w-[50%] flex items-center justify-center">
      <!-- <img src={mockup} alt="mockup" class="w-[20em]" /> -->
    </div>
  </div>
</section>
