---
// import mockup from "../public/images/hero-illustration.png";
import avatar from '../images/avatar.png';
---

<section class="w-full">
  <div class="flex w-full h-[calc(100vh-56px)] px-10">
    <div class="w-full md:w-[50%] flex justify-center items-center">
      <div class="w-full leading-[1]">
        <span class="text-gray-500 text-[2rem] md:text-[4rem] font-mono"
          >Hi, I'm</span
        >
        <!-- <span class="text-[7rem] text-gray-200">I'm</span> -->
        <h2 class="text-[#1f75fe] text-[3.5rem] md:text-[8rem] font-mono">
          Chinedum
        </h2>
        <p
          class="text-gray-400 text-sm leading-[20px] monserrat tracking-wider"
        >
          Detail-oriented <span class="blue-text"> professional</span> with excellent
          communication, interpersonal, and creative thinking skills. Implementing
          <span class="blue-text"> pixel- perfect</span> user interfaces for the
          browser environment using modern Javascript and Css frameworks/libraries.
        </p>
      </div>
    </div>

    <div class="w-[50%] flex items-center justify-end mr-[7rem]">
      <img src={avatar} alt="mockup" class="w-[20em] rounded-full" />
    </div>
  </div>
</section>
