---
// import avatar from "../images/avatar.png";
import avatar from "../images/avatar.jpg";
---

<section class="max-w-[1480px]">
  <!-- <div class="flex flex-col md:flex-row w-full h-[calc(100vh-56px)] px-10"> -->
  <div
    class="flex flex-col xl:flex-row w-full xl:h-[760px] px-10 md:py-5 xl:py-0"
  >
    <div
      class="w-full xl:w-[50%] mb-5 xl:mb-0 flex justify-center items-center"
    >
      <div class="w-full leading-[1] text-center xl:text-start">
        <span class="text-gray-500 text-[2rem] md:text-[4rem] font-mono"
          >Hi, I'm</span
        >
        <!-- <span class="text-[7rem] text-gray-200">I'm</span> -->
        <h2 class="text-[#1f75fe] text-[3.5rem] md:text-[8rem] font-mono">
          Chinedum
        </h2>
        <p
          class="text-gray-400 text-sm leading-[20px] monserrat tracking-wider text-center xl:text-start"
        >
          Detail-oriented <span class="blue-text"> professional</span> with excellent
          communication, interpersonal, and creative thinking skills. Implementing
          <span class="blue-text"> pixel- perfect</span> user interfaces for the
          browser environment using modern Javascript and Css frameworks/libraries.
        </p>
      </div>
    </div>

    <div
      class="w-full xl:w-[50%] flex items-center justify-center md:justify-center mt-5 md:mt-0"
    >
      <!-- md:mr-[7rem] -->
      <img
        src={avatar}
        alt="mockup"
        class="md:w-[30rem] md:h-[30rem] rounded-full"
      />
    </div>
  </div>
</section>
