---
// import avatar from "../images/avatar.png";
import avatar from "../images/avatar.jpg";
import PageLayout from "./Layouts/PageLayout.astro";
import { socials } from "../data";
import SocialIcon from "./General/SocialIcon.astro";
---

<PageLayout>
  <section class="w-full my-20">
    <!-- <div class="flex flex-col md:flex-row w-full h-[calc(100vh-56px)] px-10"> -->
    <div class="flex flex-row w-full h-28 xl:h-28 lg:py-5 xl:py-0">
      <div
        class="flex items-start justify-center md:justify-start mt-0 md:mt-0"
      >
        <!-- md:mr-[7rem] -->
        <div class="border-r border-gray-600 pr-4 lg:pr-10">
          <div class="w-28 md:w-28 h-28 md:h-28">
            <img
              src={avatar}
              alt="mockup"
              class="md:w-full md:h-full rounded-lg"
            />
          </div>
        </div>
      </div>

      <div class="w-full mb-0 xl:mb-0 flex justify-center items-start">
        <div
          class="w-full h-full flex flex-col justify-between leading-[1] text-center xl:text-start pl-4 lg:pl-10"
        >
          <div class="space-y-2">
            <h2 class="text-gray-300 text-start md:text-base font-mono">
              Ugbor Charles Chinedum
            </h2>
            <p class="font-mono text-start text-brand-100 text-base">
              Fullstack Software Engineer
            </p>
          </div>
          <div class="flex gap-x-3">
            {
              socials.map((social, index) => (
                <div>
                  <SocialIcon
                    url={social.url}
                    icon={social.icon}
                    title={social.title}
                  />
                </div>
              ))
            }
          </div>

          <!-- <span class="text-gray-500 text-[2rem] md:text-[4rem] font-mono"
          >Hi, I'm</span
        > -->
          <!-- <span class="text-[7rem] text-gray-200">I'm</span> -->
          <!-- <p
          class="text-gray-400 text-sm leading-[20px] monserrat tracking-wider text-center xl:text-start"
        >
          Detail-oriented <span class="blue-text"> professional</span> with excellent
          communication, interpersonal, and creative thinking skills. Implementing
          <span class="blue-text"> pixel- perfect</span> user interfaces for the
          browser environment using modern Javascript and Css frameworks/libraries.
        </p> -->
        </div>
      </div>
    </div>
  </section>
</PageLayout>
